@import "../_var.scss";
@import "../_function.scss";
@import "../_mixin.scss";

.button {
  font-family: 'Lato', 'serif';
  @include adaptiv-mp(18, 16, "font-size");
  font-weight: 600;
  line-height: 1.6;
  height: fit-content;
  border-radius: toRem(42);
  transition: .3s ease;
  // .button--white
  &--white {
    background-color: $white;
    border: toRem(2) solid $white;
    color: $dark;

    @media (any-hover: hover) {
      // .button--white:hover
      &:hover {
        // background-color: #d4d4d4;
        background-color: $yellow;
      }
    }
  }
  // .button--black
  &--black {
    color: $white;
    background-color: $dark;
    border: toRem(2) solid $dark;

    @media (any-hover: hover) {
      &:hover {

      }
    }
  }
  // .button--yellow
  &--yellow {
    color: $dark;
    background-color: $yellow;
    border: toRem(2) solid $yellow;

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
  // .butoon--green
  &--green {
    color: $white;
    background-color: $green;
    border: toRem(2) solid $green;

    // .butoon--green:hover
    &:hover {
      background-color: #3d8c3d;
    }
  }
  // .button--icon
  &--icon {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: toRem(64);
    line-height: 2.5em;

    // .button--icon::before
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: toRem(10);
      width: toRem(44);
      height: toRem(44);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

     // .button--icon.button--white
    &.button--white {

      @media (any-hover: hover) {
        // .button--icon.button--white:hover
        &:hover {
          background-color: $white;
        }
      }
    }
  }
}