@import "../../_var.scss";
@import "../../_function.scss";
@import "../../_mixin.scss";


.blog-single {

    // .blog-single__hero
    &__hero {

      &::before {
        background-image: url('@img/hero/blog-single-hero.jpg');

        @media (max-width: 740px) {
          background-image: url('@img/hero/blog-single-hero-mobile.jpg');
        }
      }

      // .blog-single__hero .grouptitle__subtitle
      .grouptitle__subtitle {
        max-width: 14.36em;
      }
    }
}