$OneRem: 16;

$fontFamily: 'Lato', 'sans-serif';

$mainColor: #595566;
$dark: #181818;
$yellow: #FFCC4A;
$green: #4EAF4E;
$gray: #F5F5F5;
$white: #FFFFFF;

$maxWidth: 1920;
$minWidth: 320;

$containerWidth: 1200;

$pc: $containerWidth + px;
$tablet: 991.98;
$mobile:  768.98;
$mobileSmall: 479.98;